<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ictsaeil.sample.mapper.UserMapper">
	<select id="selectByNameAndAge" parameterType="map" resultType="map">
		SELECT 
			*
		FROM
			`user`
		WHERE
			`NAME`=#{NAME}
			AND `AGE`=#{AGE}
	</select>
	<select id="selectCountById" parameterType="string" resultType="int">
		SELECT 
			COUNT(*)
		FROM
			`user`
		WHERE
			`ID`=#{ID}
	</select>
	<insert id="insert" parameterType="map">
		INSERT INTO `user`(
			`ID`,
			`PASSWORD`,
			`NAME`,
			<if test="AGE != null and AGE != ''">
			`AGE`,
			</if>
			<if test="EMAIL != null and EMAIL != ''">
			`EMAIL`,
			</if>
			`MOBILE`
		) VALUES (
			#{ID},
			#{PASSWORD},
			#{NAME},
			<if test="AGE != null and AGE != ''">
			#{AGE},
			</if>
			<if test="EMAIL != null and EMAIL != ''">
			#{EMAIL},
			</if>
			#{MOBILE}
		)
		<selectKey resultType="int" keyProperty="IDX" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
</mapper>