<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ictsaeil.demo.mapper.ProductMapper">
	<select id="selectByName" parameterType="string" resultType="map">
		SELECT
			*
		FROM
			`product`
		WHERE
			`NAME`=#{name}
	</select>
</mapper>