<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ictsaeil.demo.mapper.ProductMapper">
	<select id="select" resultType="map">
		SELECT
			*
		FROM
			`product`
	</select>
	
	<select id="selectByName" parameterType="string" resultType="map">
		SELECT
			*
		FROM
			`product`
		WHERE
			`NAME`=#{name}
	</select>
	
	<insert id="insert" parameterType="map">
		INSERT INTO `product` (
			`NAME`,
			`PRICE`,
			`STOCK`
		) values (
			#{NAME},
			#{PRICE},
			#{STOCK}
		)
	</insert>
	
	<delete id="delete" parameterType="map">
		DELETE FROM `product`
		WHERE
			`IDX` IN
			<foreach collection="IDX_LIST" item="item" index="index" separator="," open="(" close=")"> 
				#{item}
			</foreach> 
	</delete>
</mapper>